.line{
    width: 100%;
    height: 2px;
    background: rgb(112, 230, 28);
}

.logo-container{
        margin-bottom: 0 !important;
        margin-left: 48px !important;
}

.footer-frame{
    background: rgb(20, 29, 47);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-frame{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    a{
        color: white;
        text-decoration: none;
        margin-left: 96px;
        margin-top: -24px;
        margin-bottom: 48px;
        text-align: center;
        &:hover{
            color: rgb(112, 230, 28);
        }
    }
}

.my-logo{
    width: 96px;
    aspect-ratio: 1 / 1;
    margin-left: 48px;
}

.icon-container{
    margin-right: 48px;
}

.icon{
    margin-left: 32px;
    &:hover{
        transform: scale(1.2);
        opacity: .7;
        cursor: pointer;
    }
}

.imprint-mobile{
    color: white;
    text-decoration: none;
    margin-top: -12px;
    margin-bottom: 48px;
    display: none;
    &:hover{
        color: rgb(112, 230, 28);
    }
}

@media (max-width: 660px) {
    .footer-frame{
        flex-direction: column;
    }
    .my-logo{
    margin-left: -65px;
}

    .logo-frame{
    align-items: center;
    }

.icon-container{
    margin: 24px 0;
}

.imprint-desktop{
    display: none;
}

.icon{
    margin-left: 0;
    margin-right: 32px;
}

.github{
    margin-left: 16px;
}

.imprint-mobile{
    display: block;
}

}