<div class="line"></div>
<div class="footer-frame">
    <div class="logo-frame">
        <img class="my-logo" src="/assets/img/sjs-logo.png" alt="my logo">
        <a href="">Impressum</a>
    </div>
    <span>© Steffen Schanze 2023</span>
    <div class="icon-container">
        <img class="icon" src="/assets/img/github-button.png" alt="Github button">
        <img class="icon" src="/assets/img/mail-button.png" alt="Mail button">
        <img class="icon" src="/assets/img/linkedin-button.png" alt="Linkedin button">
    </div>
</div>