<div class="about-me-frame">
    <div class="about-me-left">
        <h1>About me</h1>
        <div class="about-me-text-container">
            <span class="about-me-text">I am a German Web Developer with experience in building web apps with JavaScript & Angular. Welcome on
                my
                public portfolio. I started my IT journey creating affiliate Websites using Wordpress. Occasionally I
                had to
                add
                something to the html-part. This aroused my interest in programming so that I finally decided to pursue
                professional training and to build my own projects. I'm looking forward to expanding my experience and
                starting
                my career in IT as a junior developer.
            </span>
            <div class="bulb-container">
                <img src="/assets/img/bulb.svg" alt="bulb icon">
                <p>I am used to taking responsibility and working diligently, using my skills for the benefit of the
                    employer, because his success is a condition for my success.
                </p>
            </div>
            <div class="puzzle-container" id="my-skills">
                <img src="/assets/img/puzzle.svg" alt="bulb icon">
                <p>I have alway motivated myself to learn new things, to break new grounds, to overcome difficulties and
                    to
                    shape my life in a positive way. In programming, I keep learning new technologies, expanding my
                    knowledge and creating new projects.
                </p>
            </div>
        </div>
    </div> 
    <div class="about-me-right">
        <img src="/assets/img/ich2.png" alt="picture of myself">
        <div class="line"></div>
    </div>
</div>
<img class="purple-shadow" src="/assets/img/purple-shadow.png" alt="shadow">