<div class="contact-frame">
    <div class="contact-left">
        <div class="contact-headline">
            <div class="line"></div>
            <h1>Contact</h1>
        </div>
        <h2>Got a problem to solve?</h2>
        <br>
        <span>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to
            your projects with my work</span>
        <br><br>
        <span>Need a Frontend developer? <b>Contact me!</b></span>
    </div>
    <div class="contact-right">
        <div class="contact-form">
            <form action="">
                <input type="text" placeholder="Your name" required>
                <input type="text" placeholder="Your email" required>
                <textarea name="" id="" cols="30" rows="10" placeholder="Your message" required></textarea>
            </form>
            <button>Send a message :)</button>
        </div>
    </div>
</div>
<div class="bottom-div">
    <a href="#atf" (mouseover)="showGreen()" (mouseleave)="removeGreen()">
        <img class="go-up-button"  src="/assets/img/go-up-button.png" alt="go up button">
        <img class="go-up-button d-none" id="mouseTarget" src="/assets/img/go-up-button-green.svg" alt="go up button">
    </a>
    <img class="purple-shadow4" src="/assets/img/purple-shadow4.png" alt="shadow">
</div>
