.contact-frame{
    display: flex;
    margin-top: 170px;

    // input{
    //     background: rgb(20, 29, 47);
    //     border: 1px solid rgb(151, 71, 255);
    //     border-radius: 5px;
    //     padding: 12px;
    //     margin-bottom: 16px;
    //     width: 400px;
    //     &::placeholder{
    //         color: white;
    //     }
    //     &:hover{
    //         border: 1px solid rgb(112, 230, 28);
    //         cursor: pointer;
    //     }
    // }

    // textarea{
    //     background: rgb(20, 29, 47);
    //     border: 1px solid rgb(151, 71, 255);
    //     border-radius: 5px;
    //     padding: 12px;
    //     width: 400px;
    //     color: white;
    //     &::placeholder{
    //         color: white;
    //     }
    //     &:hover{
    //         border: 1px solid rgb(112, 230, 28);
    //         cursor: pointer;
    //     }
    // }

    .green {
        outline: 1px solid rgb(112, 230, 28) !important;
        border: none !important;
      }

      .red {
        outline: 1px solid rgb(230, 28, 64) !important;
        border: none !important;
      }

      .transperent{
        color: transparent !important;
      }

    input, textarea {
        background: rgb(20, 29, 47);
        border: 1px solid rgb(151, 71, 255);
        border-radius: 5px;
        padding: 12px;
        margin-bottom: 16px;
        width: 400px;
        color: white;
        &::placeholder {
          color: white;
        }
    
        // &:focus {
        //   outline:  1px solid rgb(230, 28, 64);
        //   &:hover{
        //     border: none !important;
        //   }
        // }
    
        // &:green {
        //   outline: 1px solid rgb(112, 230, 28) !important;
        //   border: none !important;
        // }
      }
    
      // Style für leere Inputfelder und Textareas
      input.empty, textarea.empty {
        border-color: rgb(151, 71, 255);
        background: rgb(20, 29, 47);
      }
    
      // Ändere den Style beim Hover für die Inputfelder und Textareas
      input:hover, textarea:hover {
        border-color: rgb(112, 230, 28);
        cursor: pointer;
      }
    
    button{
        background: rgb(112, 230, 28);
        height: 56px;
        width: 250px;
        color: white;
        margin-top: 24px;
        margin-left: 84px;
        padding: 8px 16px;
        border-radius: 10px;
        font-size: 24px;
        font-weight: 600;
        &:hover{
            cursor: pointer;
            background: rgb(151, 71, 255);
            transform: scale(1.2);
        }
    }
}

.contact-headline{
    display: flex;
    align-items: center;
}

.line{
    height: 2px;
    width: 5%;
    background: rgb(151, 71, 255);
    position: absolute;
    left: 0;
}

h1{
    font-size: 56px;
    margin-right: 16px;
}

.contact-left{
    margin-left: 96px;
}

.name-required, .email-required, .message-required{
    color: rgb(230, 28, 64);
    font-size: 12px;
    font-weight: 500;
    margin-top: -12px;
    margin-bottom: 16px;
}

.input-container{
    display: flex;
}

.attention{
    margin-top: 12px;
    margin-left: -28px;
    height: 18px;
    width: 18px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    form{
        display: flex;
        flex-direction: column;
        margin-right: 124px;
        margin-left: 48px;
    }
}

.go-up-button{
    height: 32px;
    margin-top: 96px;
    position: absolute;
    right: 48px;
    z-index: 99;
    &:hover{
        display: none;
    }
}

.go-up-button-green{
    height: 32px;
    margin-top: 96px;
    position: absolute;
    right: 48px;
    z-index: 99;
    &:hover{
        display: block !important;
        cursor: pointer;
    }
}

.bottom-div{
    width: 100%;
    height: 200px;
    position: relative;
}

.sucess-message{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(20, 29, 47);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sucess-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 70vw;
    background: whitesmoke;
    color: rgb(151, 71, 255);
    font-size: 64px;
    font-weight: 900;
    border-radius: 20px;
}

.sucess-text{
    margin-left: 32px;
}

.continue{
    margin-top: 96px;
    font-size: 16px;
    color: rgb(112, 230, 28);
}

.d-none-i{
    display: none !important;
}

.purple-shadow4{
    position: absolute;
    height: 500px;
    z-index: -1;
    bottom: 0;
}

@media (min-width: 1400px){

    .contact-frame{
        input, textarea {
            padding: 18px;
            margin-bottom: 16px;
            width: 600px;
            &::placeholder {
              font-size: 20px;
            }
        }
    }

    .line{
        width: 2%;
    }
}

@media (max-width: 830px) {

    .contact-frame{

        input{
            width: 320px;
        }

        textarea{
            width: 320px;
        }

        button{
            margin-left: 52px;
        }
    }
}

@media (max-width: 768px) {
.contact-frame{
    flex-direction: column;
}

.contact-right{
    margin-top: 48px;
}

.sucess-text-container{
    font-size: 36px;
    height: 60vh;
    width: 60vw;
}

.sucess-text{
    margin-left: 24px;
}

.continue{
    margin-top: 76px;
}

.go-up-button{
    display: none;
}
.go-up-button-green{
    display: block !important;
}

}

@media (max-width: 500px){
    .purple-shadow4{
        height: 300px;
    }

    .sucess-text-container{
        font-size: 24px;
    }
    
    .sucess-text{
        margin-left: 16px;
        margin-right: 16px;
    }
    
    .continue{
        margin-left: 16px;
        margin-right: 16px;
    }

    .contact-form{
        margin-left: 48px;
    }

    .contact-left{
        margin-right: 96px;
        margin-left: 48px;
    }
}

@media (max-width: 400px) {

    .contact-frame{

        input{
            width: 230px;
            margin-left: 48px;
        }

        textarea{
            width: 230px;
            margin-left: 48px;
        }

        button{
            margin-left: 48px;
        }
    }

    .contact-left{
        margin-left: 48px;
        margin-right: 48px;
    }
}