<div class="contact-frame" id="contact">
    <div class="contact-left">
        <div class="contact-headline">
            <div class="line"></div>
            <h1>Contact</h1>
        </div>
        <h2>Got a problem to solve?</h2>
        <br>
        <span>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to
            your projects with my work</span>
        <br><br>
        <span>Need a Frontend developer? <b>Contact me!</b></span>
    </div>
    <div class="contact-right">
        <div class="contact-form">
            <form (submit)="sendMail()" ngNativeValidate #myForm>
                <div class="input-container">
                    <input id="name" (focus)="setNameAttention()" (input)="checkInputName()" type="text" placeholder="Your name" required name="name"
                        #nameField>
                    <img class="attention d-none" id="name-attention" src="./assets/img/attention.png" alt="attention">
                </div>
                <span class="name-required transperent" id="name-required">Your name is required</span>
                <div class="input-container">
                    <input type="text" (focus)="setEmailAttention()" (input)="checkInputEmail()" placeholder="Your email" required name="email"
                        #emailField>
                    <img class="attention d-none" id="email-attention" src="./assets/img/attention.png" alt="attention">
                </div>
                <span class="email-required transperent" id="email-required">Your email is required</span>
                <div class="input-container">
                    <textarea (focus)="setMessageAttention()" (input)="checkInputMessage()" name="" id="" cols="30" rows="10" placeholder="Your message"
                        required name="message" #messageField></textarea>
                    <img class="attention d-none" id="message-attention" src="./assets/img/attention.png" alt="attention">
                </div>
                <span class="message-required transperent" id="message-required">Your message is empty</span>
                <button #sendButton>Send a message :)</button>
            </form>
        </div>
        <div id="success" class="sucess-message d-none-i" (click)="closeSuccessText()">
            <div class="sucess-text-container">
                <p class="sucess-text">The message has been sent successfully!</p>
                <p class="continue"> To continue click anywhere you like!</p>
            </div>
        </div>
        <!-- <div class="contact-form">
            <form (submit)="sendMail()" ngNativeValidate #myForm>
                <input type="text" placeholder="Your name" required name="name" #nameField
                    (input)="onInputFieldChange(nameField)" [class.empty]="nameField.value.trim() === ''"
                    [class.focus]="nameField === focusedField" [class.green]="nameField.value.trim() !== ''">
                <input type="text" placeholder="Your email" required name="email" #emailField
                    (input)="onInputFieldChange(emailField)" [class.empty]="emailField.value.trim() === ''"
                    [class.focus]="emailField === focusedField" [class.green]="emailField.value.trim() !== ''">
                <textarea cols="30" rows="10" placeholder="Your message" required name="message" #messageField
                    (input)="onInputFieldChange(messageField)" [class.empty]="messageField.value.trim() === ''"
                    [class.focus]="messageField === focusedField"
                    [class.green]="messageField.value.trim() !== ''"></textarea>
                <button #sendButton>Send a message :)</button>
            </form>
        </div> -->


    </div>
</div>
<div class="bottom-div">
        <div>
            <img (mouseover)="showGreen()" (mouseleave)="removeGreen()" class="go-up-button" src="./assets/img/go-up-button.png" alt="go up button">
            <img class="go-up-button-green d-none" (click)="scrollToTop()" id="mouseTarget" src="./assets/img/go-up-button-green.svg"
                alt="go up button">
        </div>
    <div class="shadow-div">
        <img class="purple-shadow4" src="./assets/img/purple-shadow4.png" alt="shadow">
    </div>
</div>

