<div id="portfolio"></div>
<div class="portfolio-head" data-aos="fade-up">
    <div class="line-left"></div>
    <h1>Portfolio</h1>
    <div class="line-right"></div>
</div>
<div class="sample">
    <span>This page, built with Angular, is a sample of my work - please feel free to try them out.</span>
</div>
<div>
    <app-project *ngFor="let project of projects" [project]="project"></app-project>
</div>
<div id="contact"></div>
<img class="purple-shadow2" src="/assets/img/purple-shadow.png" alt="shadow">
<img class="green-shadow2" src="/assets/img/green-shadow2.png" alt="shadow">
