.my-skills-frame{
    margin-top: 48px;
    margin-bottom: -140px;
    display: flex;

    img{
        height: 48px;
        width: 48px;
    }

    h1{
        font-size: 56px;
        margin-right: 16px;
    }

    button{
        background: rgb(112, 230, 28);
        height: 56px;
        width: 200px;
        color: white;
        margin-top: 24px;
        padding: 8px 16px;
        border-radius: 10px;
        font-size: 24px;
        font-weight: 600;
        &:hover{
            cursor: pointer;
            background: rgb(151, 71, 255);
            transform: scale(1.2);
        }
    }
}

.skills-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    margin-left: 48px;
    position: relative;
}

.green-shadow-container{
    position: absolute;
    left: 0;
}

.green-shadow{
    height: 800px !important;
    width: 500px !important;
    z-index: -9;
}

.icon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    width: 250px;
    height: 150px;
    z-index: 1;
}

.my-skills-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.my-skills-head{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 48px;
}

.line{
    height: 2px;
    width: 10%;
    background: rgb(151, 71, 255); 
    position: absolute;
    right: 0;
}

.md{
    text-align: center;
}

.skill-img{
    &:hover{
        animation: shake 0.5s;
    }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

@media (max-width: 1540px){

    .icon-container{
        width: 180px;
        height: 180px;
    }
}

@media (max-width: 1120px){

    .icon-container{
        width: 150px;
        height: 150px;
    }
}


@media (max-width: 950px){

    .line{
        width: 7%;
    }

    .icon-container{
        width: 120px;
        height: 120px;
    }
}


  @media (max-width: 768px) {
    .my-skills-frame{
        flex-direction: column-reverse;

        span{
            margin-left: 16px;
            margin-right: 16px;
        }
    }

    .my-skills-container{
        z-index: 1;
    }

    .skills-container{
        margin-top: 48px;
        max-width: 100%;
    }

    .green-shadow-container{
        top: 1800px;
    }

    .green-shadow{
        height: 600px !important;
        width: 400px !important;
    }

    .line{
        width: 30%;
    }
  }

  @media (max-width: 650px){

    .green-shadow-container{
        top: 1900px;
    }

    .line{
        width: 25%;
    }
}


@media (max-width: 550px){

    .green-shadow-container{
        top: 2050px;
    }
}

@media (max-width: 450px){

    h1{
        font-size: 40px !important;
    }

    .green-shadow{
        height: 500px !important;
        width: 300px !important;
    }

    .green-shadow-container{
        top: 2250px;
    }

    .icon-container{
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 350px){

    .green-shadow-container{
        display: none;
    }
}