<div class='imprint'>
    <h1 class="purple">Impressum</h1>
    <h2 class="green">Angaben gemäß § 5 TMG:</h2>
    <br>
    <p>Steffen Schanze <br>
        Pfinzstraße<br>
        76227 Karlsruhe <br>
    </p>
    <br>
    <h3 class="purple"> <strong>Vertreten durch: </strong><br>
    </h3>
    <p>Steffen Schanze<br></p><br>
    <p class="green">Kontakt:<br></p>
    <p> Telefon: 0176-343 94 501<br>
        E-Mail: <a href='mailto:steffenjoachim.schanze@gmail.com'>steffenjoachim.schanze@gmail.com</a>
    </p>
</div>
