.imprint{
    margin-top: 150px;
    margin-bottom: 240px;
    margin-left: 48px;
h1{
    margin-bottom: 24px;
}

    a{
        text-decoration: none;
        color: white;
    }
}

.purple{
    color: rgb(151, 71, 255);
}

.green{
   color: rgb(112, 230, 28); 
}