
@font-face{
    font-family: Poppins;
    src: url('assets/fonts/Poppins-Regular.ttf');
}

*{
    margin: 0;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background: rgb(20, 29, 47);
    color: white;
    max-width: 100%;
}

.d-none{
    display: none;
}

