#atf{
height: 15vh;
}

.atf-frame{
height: 85vh;
display: flex;
flex-direction: row;
color: white;
margin-top: 32px;
img{
    height: 60vh;
    margin-top: 24px;
    margin-left: 48px;
    z-index: -9;
}

.button-container{
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

button{
    background: rgb(112, 230, 28);
    height: 56px;
    width: 160px;
    color: white;
    margin-top: 24px;
    padding: 8px 16px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 600;
    &:hover{
        cursor: pointer;
        background: rgb(151, 71, 255);
        transform: scale(1.2);
    }
}

h1{
    font-size: 56px;
}

h3{
    font-size: 42px;
    color: rgb(151, 71, 255);
}
}

.myself{
    object-fit: cover;
    animation: zoomIn 5s ease-in-out;
}

@keyframes zoomIn{
    0% { transform: scale(1); }
    50% { transform: scale(1.15); }
    100% { transform: scale(1); }
}

.topOfAtf{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 96px;
}

.image-container{
    position: relative;
    left: 50px;
    width: 30%;
}

.shadow-container{
    position: absolute;
    left: -60px;
    top: 0;
}

.iAm-frame{
 margin-top: 96px;
 margin-right: 32px;
 flex: 1;
}

.iAm-container{
    margin-top: -60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 9;
    position: relative;
}

.iAmDiv{
margin-top: -26px;
}

.iAm{
    -webkit-transform: rotate(270deg);
    display: inline-block;
    font-size: 48px;
    font-weight: 800;
    margin-top: -300px;
}

.steffenFrontend{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottomOfAtf{
align-items: flex-end;
justify-content: space-between;
display: flex;
flex-direction: row;
position: absolute;
bottom: 0;
left: 0;
right: 0;
width: 100%;
height: 170px;
z-index: 9;
    img{
        height: 24px;
        width: 24px;
        margin-left: 32px;
        z-index: -99 !important;
        &:hover{
            cursor: pointer;
            transform: scale(1.2);
            filter: brightness(1.2);
        }
    }
}

.icon-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
   
    img{
        margin-left: 60px;
        margin-top: 116px;
        margin-bottom: 16px;
    }

    span{
        margin-left: 62px;
        margin-top: 116px;
    }
}

.line{
    margin-top: 130px;
    width: 150px;
    height: 2px;
    background: rgb(151, 71, 255);
}

.scrollDown{
    -webkit-transform: rotate(90deg);
    display: inline-block;
    margin-bottom: 75px;
    margin-right: 80px;
}

.background-shape{
    position: absolute;
    bottom: -370px;
    width: 100%;
    z-index: 1;
}

.photo-shadow{
    height: 500px;
    position: absolute;
    top: 200px;
    z-index: -19;
}

.sjs-mail{
    text-decoration: none;
    color: white;
    margin-top: 117px;
}

@media (min-width: 1600px){

    .atf-frame{
        h1{
            font-size:84px;
        }
        
        h3{
            font-size: 64px;
        }

        button{
            height: 80px;
            width: 200px;
        }
    
    }
    
    .iAm{
        font-size: 56px;
    }

    .background-shape{
        bottom: -620px !important;}
}

@media (min-width: 1500px){

    .background-shape{
        bottom: 50;}
}

@media (min-width: 1400px){

    .background-shape{
        bottom: -470px;}
}


@media (min-width: 1240px) {

    .atf-frame{
        img{
            height: 70vh;
        }
    }

    .icon-image{
        height: 32px !important;
        width: 32px !important;
    }

}


@media (max-width: 1240px) {

    .background-shape{
        bottom: -270px;
    }
}

@media (max-width: 1070px){
    .atf-frame{
        h1{
            font-size: 52px;
        }
        
        h3{
            font-size: 39px;
        }
    }

}


@media (max-width: 1024px) {

    .atf-frame{
        h1{
            font-size: 56px;
        }
        
        h3{
            font-size: 42px;
        }
    }


.atf-frame{
    height: 50vh;
}

    .myself{
            margin-left: 0;
        }

    .image-container{
        left: -200px;
    }

    .topOfAtf{
        flex-direction: column;
        align-items: center;
    }

    .bottomOfAtf{
        z-index: 3;
    }

    .iAm-frame{
        margin-top: -80px;
        margin-right: 0;
        // width: 95vw;
        display: flex;
        justify-content: flex-start;
        z-index: 4;
    }

    .background-shape{
        bottom: -140px;
    }

    .photo-shadow{
        height: 500px;
        left: 110px;
        top: 100px;
        z-index: -99;
    }

    .scroll-down-container{
        height: 200px;
        margin-bottom: -100px;
        white-space:nowrap;
    }

    .line{
        width: 100px;
    }

    .icon-container{
        margin-left: 0;
    }

    .email-address{
        display: none;
    }
}

@media (max-width: 970px) {

    .background-shape{
        bottom: 50px;
    }
}

@media (max-width: 870px) {

    .iAm-container{
        margin-top: 0;
    }

    .background-shape{
        bottom: 100px;
    }

    .photo-shadow{
        left: 50px;
    }

    .atf-frame{

        img{
            height: 50vh;
        }
    }

    .icon-image{
        height: 28px !important;
        width: 28px !important;
    }
}



@media (max-width: 768px) {
.photo-shadow{
    left: 0;
    height: 300px;
}

.background-shape{
    bottom: 50px;
}

}

@media (max-width: 680px) {

    .scroll-down-container{
        display: none;
     }
 
     .atf-frame{
     h1{
         font-size: 48px;
     }
     
     h3{
         font-size: 32px;
     }
 }

    .atf-frame{
        img{
            margin-left: 0;
        }
    }

    .icon-image{
        margin-left: 32px !important;
    }

    .photo-shadow{
        height: 50vh !important;
        margin-left: 50px !important;
    }

    .background-shape{
        bottom: 100px;
    }
}


@media (max-width: 605px) {

    .image-container{
        position: inherit;
        margin-top: 0;
        margin-left: 0;
        display: flex;
        justify-content: center;
    }

.shadow-container{
    z-index: -99;
}

.background-shape{
    bottom: 20px;
}

.photo-shadow{
    height: 40vh !important;
    margin-left: 40px !important;
}
 .iAm-container{
    margin-top: -40px;
 }

.iAmDiv{
    margin-top: -52px;
    }

    .atf-frame{
    h1{
        font-size:36px;
    }
    
    h3{
        font-size: 24px;
    }
}

.iAm{
    font-size: 36px;
}

.iAmDiv{
    margin-top: -48px;
    }

    .icon-image{
        margin-left: 56px !important;
    }

.iAm-frame{
    margin-top: -20px;
}
}


@media (max-width: 500px){
    .atf-frame{
        img{
            height: 45vh;
        }
    }

    .image-container{
        margin-left: 72px;
    }

    .iAm-frame{
        margin-bottom: -300px;
    }

    .iAm-container{
        margin-left: 18px;
    }

    .photo-shadow{
        height: 30vh !important;
        margin-left: 85px !important;
        margin-top: 70px !important;
    }

    .background-shape{
        display: none;
    }

    .iAm-container{
        margin-top: 0;
    }

    .atf-frame{
        h1{
            font-size:36px;
        }
        
        h3{
            font-size: 24px;
        }

        button{
            height: 50px;
        }

        .image-container{
            position: inherit;
            margin-top: 0;
            margin-left: 0;
            display: flex;
            justify-content: center;
        }

        .shadow-container{
            z-index: -99;
        }

        .topOfAtf{
            margin-right: 0;
        }
    
    }
    
    .iAm{
        font-size: 24px;
    }

    .iAmDiv{
        margin-top: -62px;
        }

        .image-container{
            left: -160px;
        }

        .atf-frame{
            h1{
                font-size: 28px;
            }
            
            h3{
                font-size: 18px;
            }
        }
}

@media (max-width: 400px) {

    .line{
        width: 50px;
    }

    .icon-container{

        img{
            margin-left: 50px;
            
        }
    }

    .atf-frame{
        h1{
            font-size: 24px;
        }
        
        h3{
            font-size: 18px;
        }
    }
    
    .iAm{
        font-size: 18px;
        margin-bottom: 8px;
    }

    .icon-image{
        height: 24px !important;
        width: 24px !important;
    }

    .shadow-container{
        left: 60px;
        top: 60px;
        // z-index: -99;
    }

    .iAm-container{
        margin-top: -80px;
    }

    .atf-frame{
        img{
            height: 35vh;
        }
    }

    .photo-shadow{
        height: 25vh !important;
        margin-left: 35px !important;
        margin-top: 60px !important;
    }
}

@media (max-width: 300px) {
   .iAm-container{
    margin-top: -90px;
   }
}