<div class="atf-frame" id="atf">
    <div class="image-container">
        <img src="/assets/img/ich.png" alt="foto of myself">
        <img class="photo-shadow" src="/assets/img/photo-shadows.png" alt="shadow">
        <div class="bottomOfAtf">
            <div class="icon-container">
                <div class="line"></div>
                <img src="/assets/img/github-button.png" alt="Github button">
                <img src="/assets/img/mail-button.png" alt="Mail button">
                <img src="/assets/img/linkedin-button.png" alt="Linkedin button">
                <span>steffenjoachim.schanze@gmail.com</span>
            </div>
            <div>
                <span class="scrollDowm"> Scroll down -></span>
            </div>
        </div>
    </div>
    <div class="iAm-frame">
        <div class="iAm-container">
            <div class="iAmDiv">
                <span class="iAm">I am</span>
            </div>
            <div class="steffenFrontend">
                <h1>Steffen Schanze</h1>
                <h3>FRONTEND DEVELOPER</h3>
                <button>Let's talk!</button>
            </div>
        </div>
    </div>
    
</div>
<img class="background-shape" src="/assets/img/background-shape.png">